body {
    background-image: url('Stupa_Borobudur.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
}

div {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid red;
    color: blue;
    text-align: justify;
    background-image: url('avocado.jpg');
    background-repeat: repeat;
    background-size: 210px 150px;
}

.repeat {
    background-repeat: repeat-x;
}